@use "../../assets/sass/_variables.scss" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
  bottom: 15px;
  height: 55px;
  background: linear-gradient(120deg, #ffab5d 30%, #ffde49 100%, #9dc500 100%);
  border-radius: 80px;
  color: $color-black;

  &__item {
    height: 30px;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    grid-column: 1 / -1; 
  }
}

@media screen and (max-width: 400px) {
  .nav {
    width: max-content;
  }
}


